<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/js/pwa.webmanifest">
    <meta name="theme-color" content="#00695c"/>
    <link rel="apple-touch-icon" href="/images/icon-32.png">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    