<%- include('../includes/head.ejs') %>
<meta name="__csrf" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
	<script type = "text/javascript">
        $(document).ready(function () {
            
	// SUBMIT FORM
    $("#productForm").submit(function(event) {
		// Prevent the form from submitting via the browser.
		event.preventDefault();
		ajaxPost();
	});
	        var product = {};
            var dynamicURL = "";
            var methodName = "";
            getAllProducts();

           function ajaxPost() {
			   	// PREPARE FORM DATA
				   product.title = $('#title').val();
				   product.price = $('#price').val();
				   product.description = $('#description').val();
				   product.imageUrl = $('#imageUrl').val();
				   product.userId = $("#userId").val();
                   var productId = $('#id').val();
                if(productId){
                    //update it
                    dynamicURL = "http://localhost:3000/product/"+productId;
                    methodName = "PUT";
                }else{
                    //save it
                    dynamicURL = "http://localhost:3000/product";
                    methodName = "POST";
                }
                var productObj = JSON.stringify(product);
                $.ajax({
                    url: dynamicURL,
                    method: methodName,
                    data: productObj,
					dataType:"json",
					enctype: 'multipart/form-data',
					contentType: "application/json; charset=utf-8",
					success : function() {
						$("#postResultDiv").html("Product Successfully! ");
						getAllProducts();
                        reset();
					},
					error : function(e) {
						alert("Error!")
						console.log("ERROR: ", e);
					}
                })
            }
        })

        function getAllProducts() {
            $.ajax({
                url: "http://localhost:3000/allProducts",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var tableBody = $('#gridProduct div');
                    tableBody.empty();
                    $(data).each(function (index, element) {
							tableBody.append('<article class="card product-item"><header class="card__header"><h1 class="product__title">'+element.title+'</h1></header><div class="card__image"><img src="/'+element.imageUrl+'" alt=""></div><div class="card__content"><h2 class="product__price">$'+element.price+'</h2><p class="product__description">'+element.description+'</p></div><div class="card__actions"><button class="btn" onclick=updateProduct("'+element._id+'")>Update</button><button class="btn" onclick=deleteProduct("'+element._id+'")>Delete</button></div></article>');
                    })
                },
                error: function (error) {
                    alert(error);
                }
            })
        }



        function deleteProduct(id){
			$.ajax({
			method: 'DELETE',
            url: "http://localhost:3000/products/" + id,
			success : function() {
				$("#delResultDiv").html("Product Deleted Successfully!");
				getAllProducts();
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
        }

        function updateProduct(id){
            $.ajax({
                url: 'http://localhost:3000/product/'+id,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#title').val(data.title);
                    $('#price').val(data.price);
					$('#imageUrl').val(data.imageUrl);
					$('#description').val(data.description);
                    $('#id').val(data._id);
                    getAllProducts();
                },
                error: function (error) {
                    alert(error);
                }
            })
        }

        function reset(){
            $('#title').val('');
            $('#price').val('');
            $('#imageUrl').val('');
			$('#description').val('');
			$('#id').val('');
        }
    </script>
</head>
<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
		<form id="productForm" class="product-form" method="POST">
			<input type="hidden" id="id" name="id">
			<div class="form-control">
				<label for="title">Title</label>
				<input 
					type="text" 
					name="title" 
					id="title">
			</div>
			 <div class="form-control">
				<label for="imageUrl">Image URL</label>
				<input 
					type="text" 
					name="imageUrl" 
					id="imageUrl" >
			</div> 
	
			<div class="form-control">
				<label for="price">Price</label>
				<input 
				
					type="number" 
					name="price" 
					id="price" 
					step="0.01">
			</div>
			<div class="form-control">
				<label for="description">Description</label>
				<textarea 
					name="description" 
					id="description" 
					rows="5"></textarea>
			</div>
			<input id="userId" type="hidden" value="61e03b11126327d5618d6c5e">
			<input id="_csrf" type="hidden" name="_csrf" value="<%= csrfToken %>">
			<button class="btn" type="submit">Add Product</button>
		</form>
		<div id="gridProduct">
			<div class="grid"></div>
		</div>
   </main>
<%- include('../includes/end.ejs') %>